<?xml version="1.0" ?>
<robot name="Arm" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find Arm_description)/urdf/materials.xacro" />
<xacro:include filename="$(find Arm_description)/urdf/Arm.trans" />
<xacro:include filename="$(find Arm_description)/urdf/Arm.gazebo" />
<link name="base_link">
  <inertial>
    <origin xyz="-1.2071043915756002e-08 0.030288209954444433 -7.923398208424698e-11" rpy="0 0 0"/>
    <mass value="33.31647970550474"/>
    <inertia ixx="0.340676" iyy="0.640553" izz="0.340676" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find Arm_description)/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find Arm_description)/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

</robot>
